# To set data frame display options

In [4]:
pd.set_option("max_colwidth", 1000)# show up to 1000 character within each cell

In [ ]:
pd.set_option("max_rows",20) # to show up 20 rows

In [5]:
pd.set_option("max_columns",1000)# to show 1000 columns

<h3>The API is composed of 5 relevant functions, available directly from the pandas namespace:

get_option() / set_option() - get/set the value of a single option.

reset_option() - reset one or more options to their default value.

describe_option() - print the descriptions of one or more options.

option_context() - execute a codeblock with a set of options that revert to prior settings after execution.

In [7]:
pd.get_option("display.max_rows")

60

In [8]:
pd.set_option("display.max_rows", 101)

In [9]:
pd.get_option("display.max_rows")

101

In [10]:
pd.set_option("max_r", 102)

In [11]:
pd.get_option("display.max_rows")

102

In [14]:
pd.get_option('mode.sim_interactive')

True

In [12]:
pd.set_option('mode.sim_interactive', True)

In [13]:
pd.get_option('mode.sim_interactive')

True

In [15]:
pd.reset_option("^display")

<h3><font color='red'> option_context </font> **context manager**has been exposed through the top-level API, allowing you to execute code with given option values. Option values are restored automatically when you exit the with block:

In [17]:
with pd.option_context("display.max_rows", 10, "display.max_columns", 5):
        print(pd.get_option("display.max_rows"))
        print(pd.get_option("display.max_columns"))

10
5

In [18]:
print(pd.get_option("display.max_rows"))

60

In [19]:
print(pd.get_option("display.max_columns"))

20

**Before That You should no about Truncate in python**

In [25]:
df = pd.DataFrame(np.random.randn(5,10))
pd.set_option('expand_frame_repr', True)
df

,0,1,2,3,4,5,6,7,8,9
0,-0.117105,0.236639,0.705081,-0.131104,-0.603788,0.628279,0.568408,-2.173030,-0.964672,-0.656437
1,0.953704,-0.872856,0.806125,-1.315757,-0.648983,-0.431004,-0.237894,1.626886,-0.394465,0.704582
2,0.719470,1.169170,0.515080,0.160596,-0.637892,0.543677,-0.462439,0.171372,0.603264,0.957309
3,0.924006,-1.332224,-0.055847,-0.015565,0.541889,1.249520,-0.123529,-0.391185,-0.140698,1.879937
4,1.136414,-0.285866,0.209954,0.724919,-0.671629,-1.454440,1.159432,-0.622347,0.093786,1.089590

In [28]:
pd.set_option('expand_frame_repr', False)
df

          0         1         2         3         4         5         6         7         8         9
0 -0.117105  0.236639  0.705081 -0.131104 -0.603788  0.628279  0.568408 -2.173030 -0.964672 -0.656437
1  0.953704 -0.872856  0.806125 -1.315757 -0.648983 -0.431004 -0.237894  1.626886 -0.394465  0.704582
2  0.719470  1.169170  0.515080  0.160596 -0.637892  0.543677 -0.462439  0.171372  0.603264  0.957309
3  0.924006 -1.332224 -0.055847 -0.015565  0.541889  1.249520 -0.123529 -0.391185 -0.140698  1.879937
4  1.136414 -0.285866  0.209954  0.724919 -0.671629 -1.454440  1.159432 -0.622347  0.093786  1.089590

<h3>display.max_rows and display.max_columns sets the maximum number of rows and columns displayed when a frame is pretty-printed. Truncated lines are replaced by an ellipsis.

In [29]:
df = pd.DataFrame(np.random.randn(7, 2))

In [32]:
pd.set_option('max_rows', 7)
df

          0         1
0 -0.483847  2.186343
1  0.629977 -1.218913
2  0.274482  1.348612
3  0.175394  0.179561
4  1.410744  1.467620
5 -0.502889  0.220183
6  0.658564 -1.991557

In [33]:
pd.set_option('max_rows', 5)
df

           0         1
0  -0.483847  2.186343
1   0.629977 -1.218913
..       ...       ...
5  -0.502889  0.220183
6   0.658564 -1.991557

[7 rows x 2 columns]

In [35]:
pd.reset_option('max_rows')
df

          0         1
0 -0.483847  2.186343
1  0.629977 -1.218913
2  0.274482  1.348612
3  0.175394  0.179561
4  1.410744  1.467620
5 -0.502889  0.220183
6  0.658564 -1.991557

In [38]:
pd.set_option('max_rows', 8)
pd.set_option('min_rows', 4)
df

          0         1
0 -0.483847  2.186343
1  0.629977 -1.218913
2  0.274482  1.348612
3  0.175394  0.179561
4  1.410744  1.467620
5 -0.502889  0.220183
6  0.658564 -1.991557

In [40]:
pd.reset_option('max_rows')
pd.reset_option('min_rows')

# How pandas displays numbers

If you want to alter how numbers are shown within DataFrames, use these handy options to round trailing decimal numbers.

pd.set_option(‘precision’, 2) # Round to two decimal points

<h5>This second option also provides the functionality of comma separators between three digits of larger numbers:

pd.options.display.float_format = ‘{:,.2f}’.format

<h1>**Pandas Profilling for Automated EDA**

<font color="violet"><h3>Use the pandas-profiling toolkit to automate much of your exploratory data analysis. EDA is the crucial phase zero of any data science project. It typically involves basic statistical analytics and looking at how features correlate with each other.

<h1>Measuring and Optimising Runtime

<font color="blue"><h3>Data Scientists have to some degree of a notoriety for being tinkerers. But as the field is progressively drawing closer to program building, the request for brief, profoundly performant code has expanded. The execution of a program ought to be evaluated in terms of time, space, and disk utilize — keys to versatile execution.

<h1>Time Series Analysis

Fortunately, the <font color= "radium">dtw-python package</font> provides an intuitive way to compare time series. In short, Dynamic Time Warping calculates the distance between two arrays or time series of different length.

<h1><font color="red">setting up an virtual Environment

it setups an isolated workspace for your python Project

1.Avoiding package conflicts

2.Providing clear line of sight on where packages are being installed

3.Ensuring consistency in package version utilized by the project

<h1><font color= "grey"> finding utility code

You’ve heard the expression “standing on the shoulders of giants.” Python is an exceedingly well-resourced language. You can speed up your data science discoveries by recognizing you don’t have to go it alone — you can and should reuse the utility code of the programmers who’ve come before you.